.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(220, 15%, 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}